node-linker=hoisted
auto-install-peers=true
shamefully-hoist=true
save-prefix=^
strict-peer-dependencies=false
side-effects-cache=false
dedupe-peer-dependents=true
resolution-mode=highest
# use-node-version=20.11.1
ignore-compatibility-db=true
ignore-workspace-cycles=true
ignore-workspace-root-check=true
