node-linker=hoisted
auto-install-peers=true
shamefully-hoist=false
save-prefix=^
strict-peer-dependencies=false
side-effects-cache=true
dedupe-peer-dependents=true
resolution-mode=highest
ignore-compatibility-db=true
store-dir=~/.pnpm-store

# 公共注册表镜像（中国开发者可取消注释使用）
# registry=https://registry.npmmirror.com/
# @types:registry=https://registry.npmmirror.com/
